.main__mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
  padding: 20px;
  margin-bottom: auto;
}

.mainContainer__ordersSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.message {
  align-self: center;
  justify-self: center;
  padding-inline: 20px;
  p {
    font-size: 30px;
    text-wrap: balance;
    text-align: center;
    font-weight: bold;
  }
}

.ordersSection__caption {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
}

.orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
