.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  border-bottom: 2px solid #ff9921;
}

.item__imageContainer {
  height: 100%;
}

.imageContainer__image {
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}


.item__productName {
  width: 30%;
  text-wrap: balance;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.item__productWeight {
  width: 15%;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

.item__productPrice {
  width: 15%;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

.item__quantity {
  width: 10%;
  font-size: 20px;
  text-align: center;
  height: 20px;
}
