.selectionBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.pageSelectionBar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 40%;
  height: 100%;
}

.pageSelectionBar__button {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.pageSelectionBar__button--active {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #ff9921;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: default;
}

.pageSelectionBar__button:hover {
  border-color: #ff9921;
}

.totalCount {
  margin: 0;
  font-size: 20px;
  text-align: right;
}
