.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  margin-top: 10px;
}

.form button {
  width: 40%;
  margin-top: 20px;
  background-color: #ff9921;
  border: 2px solid #ff9921;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
}

.form button:hover {
  cursor: pointer;
  scale: 105%;
}
