.main__mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 595px;
}

.mainContainer__catalog {
  width: 80%;
}

.catalog__caption {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
}

.catalog__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  padding: auto;
  height: fit-content;
  margin-bottom: 15px;
}
