.item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.item:hover {
  background-color: #ff9921;
  p {
    color: #ffffff;
  }
  input {
    color: #ffffff;
  }
}

.item__imageContainer {
  height: 100%;
}

.imageContainer__image {
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.item__productName {
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.item__productWeight {
  width: 10%;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}

.item__productPrice {
  width: 10%;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

.item__quantity {
  width: 10%;
  border: 2px solid gray;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  outline: none;
  height: 20px;
}

.item__quantity:hover {
  border-color: #ffffff;
}

.item__removeButton {
  width: 10%;
  height: 20px;
  background: none;
  border: none;
  aspect-ratio: 1/1;
}

.removeButton__image {
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}
