.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  width: 30%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  aspect-ratio: 1/1;
  z-index: 10000;
}

.closeButton__image {
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.modal__content {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
      opacity: 1;
  }
}
