.App {
  text-align: center;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.App-body {
  width: 100vw;
  background-color: #fafafaba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
